body {
    font-family: 'Poppins', sans-serif;
    background-color: #141313;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background: linear-gradient(135deg, #3498db, #9b59b6);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 30px;
    transform: rotateX(20deg);
    color: #fff;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
}

#bmiForm {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #ecf0f1;
    display: block;
    font-size: 0.9em;
}

input {
    width: calc(100% - 16px);
    padding: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    font-size: 1em;
}

button {
    background: linear-gradient(135deg, #2ecc71, #27ae60);
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 1.1em;
}

button:hover {
    background: linear-gradient(135deg, #27ae60, #2ecc71);
}

#result, #idealWeight {
    margin-top: 30px;
    font-weight: bold;
    color: #fff;
    background: #34495e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    font-size: 1em;
}
