body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1611928482473-7b27d24eab80?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
    background-size: cover;
    background-position: center;
}

button {
    padding: 4px 8px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2a74a5;
}

#weather-info {
    margin-top: 10px;
    color: rgb(11, 10, 10);
}

button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

i {
    margin-right: 5px;
}