#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
}
#hour,#minute,#second{
    position: absolute;
    background:rgb(118, 55, 7);
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: .8%;
    height: 10.5%;
    top:28%;
    left: 49.5%;
    opacity: 0.8;

}
#minute{
    width: .6%;
    height: 12.5%;
    top:27%;
    left: 49.7%;
    opacity: 0.8;
}
#second{
    width: .3%;
    height: 13%;
    top: 25.5%;
    left: 49.9%;
    opacity: 0.8;
}