body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5eec8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #todo-container {
    background-color: #b3a492;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 400px;
    padding: 20px;
    text-align: center;
  }
  
  #todo-list {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #d6c7ae;
    background-color: #daddb1;
    transition: background-color 0.3s;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .todo-item:hover {
    background-color: #bfb29e;
  }
  
  .progress-container {
    margin-top: 20px;
    position: relative;
  }
  
  #progress-bar {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  
  #progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #4caf50;
  }
  
  #appreciation-message {
    margin-top: 20px;
    display: none;
    background-color: #f5eec8;
    border: 1px solid #d6c7ae;
    border-radius: 8px;
    padding: 15px;
    color: #000603;
  }
  
  .hidden {
    display: none;
  }
  
  #todo-input {
    width: 70%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #d6c7ae;
    border-radius: 8px;
  }
  
  button {
    background-color: #533911;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #a08a63;
  }
  